* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
  }
  
  h1 {
    font-family: 'Merriweather';
  }
  
  h2 {
    font-family: 'Montserrat', Light;
    font-size: 2em;
    letter-spacing: 2.5px;
    /* border-bottom: 2px solid #EAC445; */
    text-align: center;
    text-shadow: 1px 1px 2px rgb(82, 82, 82);
  }
  
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
    text-align: justify;
  }
  
  a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-decoration: none;
  }
  
  i {
    font-size: 30px;
  }
  
  /* ---------- MENÚ HAMBURGUESA ----------*/
  .nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.237);
    position: relative;
  }
  
  #logo {
    text-align: end;
  }

  .nav #links {
    display: none;
  }
  
  .nav a {
    float: center;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .nav a.icon {
    float: right;
  }
  
  .nav button {
    border-radius: 20px;
    border: 1px solid #eac445;
    color: white;
    background-color: #eac445;
  }
  
  header {
    background-image: url(../img/EVENTOS-header.webp);
    background-position: center;
    background-size: cover;
    height: 70vh;
  }
  
  .hero {
    text-align: center;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  
  /* ---------- SECCIÓN 1 - EVENTOS  ----------*/
  .img {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .img img{
    border-radius: 50%;
  }

  .background {
    background-image: url(../img/BIRRAS-back.webp);
    background-position: center;
    background-size: cover;
    padding: 20px;
    display: flex;
  }
  
  #s1-EVENTOS {
    padding: 50px 180px
  }
  
  #s1-EVENTOS h2{
    padding-bottom: 40px;
  }

  #s1-EVENTOS p {
    background-color: rgba(151, 136, 101, 0.336);
    padding: 20px;
  }
  
  /*ANIMACIÓN H1 - tracking-in-expand*/
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  
    40% {
      opacity: 0.6;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  
  .tracking-in-expand {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  
  /*----------FOOTER----------*/
  
  footer{
    background-color:#bba87b;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    margin-bottom: 0;
  }
  
  footer p{
    font-size: 0.8em;
  }
  
  footer h3{
    margin: 10px 0px;
    border-bottom: 1px solid #eac445;
    font-family: 'Montserrat', Light;
    letter-spacing: 1px;
  }
  
  footer i{
    padding: 5px;
  }
  
  .git{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  
  #izquierda-footer{
    display: flex;
    flex-direction: column;
    border-right: 1px solid white;
    padding-right: 20px;
  
  }
  
  #izquierda-footer p{
    padding: 5px;
  }
  
  #centro-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #derecha-footer{
    border-left: 1px solid white;
    padding: 0px 20px;
  }