/*cuando el ancho de la pantalla sea menor a 770px*/
@media (max-width: 770px) {

    header .smedia{
        display: none;
      }

    /* ----------FOOTER----------*/
    #izquierda-footer{
        display: none;
    }

    #derecha-footer{
        display: none;
    }

    footer{
        display:flex;
        justify-content: center
    }
}


/*cuando el ancho de la pantalla sea mayor a 770px*/
@media (min-width: 770px){
    /*----------ICONO MENU HAMBURGUESA----------*/
    .icon{
        display: none;
    }

    .nav{
        display:flex;
        justify-content: flex-end;
    
    }

    .nav #links {
        display:flex;
    }

    .nav a:hover {
        color: #EAC445;
    }

    .smedia{
        margin-left: 10px;
        border-left: 1px solid white;
    }

    .nav button:hover {
        color: white;
        background-color:#eac445;
        border: 1px solid #ead384;
    
    }

    .nav i:hover{
        color: #0D1216;     
    }

    .hero button:hover{
        background-color:#eac445;
        border:1px solid #eac445;
        cursor: pointer;
      }

/*----------SECCION 1----------*/
#s1{
    background-image: url(../img/INDEX-back-s1.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

#s1 .display{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 50px;
} 






}