/*cuando el ancho de la pantalla sea menor a 770px*/
@media (max-width: 770px) {
    
    header .smedia{
        display: none;
    }

    /* ----------FOOTER----------*/

    footer{
        display:flex;
        justify-content: center;
        height:20vh;
    }

    #izquierda-footer{
        display: none;
    }

    #derecha-footer{
        display: none;
    }

}

/*cuando el ancho de la pantalla sea mayor a 770px*/
@media (min-width: 770px) {

    /*----------ICONO MENU HAMBURGUESA----------*/
    .icon{
        display: none;
    }

    .nav{
        display: flex;
    }

    .nav #links {
        flex: 3 1 auto;
        display: flex;
        justify-content: right;
        margin-right: 20px;
    }

    .nav a:hover {
        color: #EAC445;
  
    }

    .smedia{
        flex: 1 1 auto;
        margin-left: 10px;
        border-left: 1px solid white;
   
    }

    .nav button:hover {
        color: white;
        background-color:#d3a716;
        border: 1px solid #d3a716;
    }


    .nav i:hover{
        color: #0D1216;     
    }

    #logo{
        flex: 1 1 auto;
    }

    /*----------INDEX - SECCION 1----------*/
    #s1{
        background-image: url(../img/INDEX-back-s1.webp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }

    #s1 .display{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 50px;
    } 

}