.overlay{
    background:rgb(0,0,0,.2);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;

}
.popup{
    background:#bba87b;
    box-shadow: 0px 0px 5px 0px rgb(0,0,0,.4);
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif; 
    padding: 20px;
    text-align: center;
    width:600px;



}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color:white;
}

.popup h3{
    font-size:36px;
    margin-bottom: 20px;
    /* opacity: 0; */
}

.popup form .contenedor-inputs{
    
}

.popup form .contenedor-inputs input{
    width:100%;
    margin-bottom: 10px;
    height:30px;
    text-align: center;
}
#mensaje{
    height:80px;
}

.popup form .btn-enviar{
    padding: 5px;
   background-color: #0D1216;
   font-weight: 600;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif; 
    cursor: pointer;
    transition: 3s ease all;
}

