*{box-sizing: border-box; padding: 0px; margin: 0px;}


body{color: white;}

h1{font-family: 'Montserrat', sans-serif; font-size: 2.5em; text-align: center; padding: 50px 0px 0px 0px;}

p {font-family: 'Open Sans', sans-serif; font-size: 1.25em;}
#s1 span{ background-color: #EAC445;}

#s1 {background-image: none;}

#s1 .display {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.video {
    padding: 20px 0 20px 0;
}
#s1 p{
    text-align: justify;
    padding: 0px 30px 0 30px;
}

#s2 {
 display: flex;
 justify-content: center;
 height: 50vh;
    
}

#s2 .container {
display: flex;
flex-direction:column;
align-items: center;
text-align: center;
padding-bottom: 30px;
}

#s2{background-color: #4D3927;}


.imgs2{
    display: flex;

    padding-top: 10px;
    width:55%;
    height:55;
}




 /*----------SECCION 3----------*/
 #s3{
   
    background-image: url(INDEX-back-s3-1440.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    background-size: cover;
    height: 50vh;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.78);
}

#s3 .container{
    text-align: center;

}

#s3 p{padding: 20px;}



/*----------CIERRE SECCION 3----------*/