*{
 box-sizing: border-box;
 margin: 0;

}
body{
    
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color:rgb(187, 168, 123);
}


h2{font-size: 2em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
a{font-size: 1.25em;
    font-weight:400;
   

}
/*----------INICIO DEL HEADER----------*/
button{
    font-size: 1em;
    font-weight: bold;
    padding:10px 20px;
    border-radius: 10px;
    border:1px solid #eac445;
    color:white;
    background-color: #eac445;
 
}
button:hover{
  background-color:  #ae9030;
  cursor: pointer;
}
button#reservado{
    margin: 6px;
    padding: 4px;
    font-size: 2em;
    margin-top:30px;
    font-weight: 400;
}


header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background:url(INDEX\ -\ header\ 2.png);
    background-position:center;
    background-attachment: contain;
    background-size: cover;
    height: 100vh;

 
}


.menu{
    display:flex;
    flex-direction:column;
    align-items: center
}

nav a#a {
    padding: 0 30px 0 30px;
    
}


.menu a{
    text-decoration: none;
    color:rgb(245, 245, 245);

    
}

.logo img{
    margin: 10px;
    height:70px;
    width:70px;
}

/*----------CIERRE DEL HEADER----------*/


/*----------INICIO DE LA PORTADA/HERO ----------*/
.portada{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.titulos-portada/*----------BOX DE LOS DOS TITULOS PRINCIPALES ----------*/{
display: flex;
flex-direction: column;
align-items: center;

}
.titulos-portada h1/*----------BOX DEL TITULO PROSIT ----------*/{
    color:rgb(245, 245, 245);
    margin-bottom:10px;
    font-size:5em;
    
}

.titulos-portada h2/*----------BOX DEL SUBTITULO ----------*/{
    color:rgb(245, 245, 245);
    font-weight:300;
    text-shadow: 1px 1px black;
    margin-bottom:200px;
  
}

/*----------CIERRE DE LA PORTADA/HERO ----------*/


/*----------INICIO DEL FOOTER ----------*/

footer{
    display:flex;
    flex-direction:row;
    align-items:center;
    height: 20vh;
    font-size:0.80em;
    background-color: rgb(187, 168, 123);
    margin-bottom: 0;
    
}

.centro-footer {
    flex: 1 1 auto;
    font-size:1.4em;
    color: rgb(245, 245, 245);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
    
  

}

.centro-footer h3{
font-size: 1em;
font-weight: 300;

}
.redes-footer a img{
    width:40px;
    height:40px;
    margin: 10px 20px 0 20px;
}
.centro-footer img{
    width:50px;
    height:50px;
    margin-bottom: 10px;
}

.izquierda-footer{
    /*  */
    display:none;
}
.izquierda-footer a{
    
   font-weight: 400;
    font-size:1.3em;
    text-decoration: none;
    color: white;
}

.derecha-footer{
    /*  */
    display:none;
}

.copyright{
    background-color:rgb(187, 168, 123);
    text-align:center;
    margin: 0;
}
.copyright p{
    font-size:0.85em;
}




/*----------CIERRE DEL FOOTER ----------*/

