/*cuando el tamaño de la pantalla sea menor a los 768px*/
@media (min-width: 700px) {
  

    .container {
        max-width: 1440px;
        margin: auto;    
    }
    
    /*----------SECCION 1----------*/
    #s1{
        background-image: url(INDEX-back-s1.webp);
        background-color: #bba87b;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    
    }
    
    
    
    #s1 .display{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        padding-top: 100px;
    
    } 
    
   iframe{
    width: 500px;
    height:300px;
   }
   
  
    /*----------CIERRE SECCION 1----------*/
    
    
    /*----------SECCION 2----------*/
    #s2{background-color: #4D3927;
        height: 100vh;}
    
    #s2 .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 150%;
    
    }
    
    #s2 p{
        text-align: center;
        padding: 30px;
    }
    
    
    
    /*----------CIERRE SECCION 2----------*/
    
    
   
#s3{
    height: 100vh;
}

#s3 .container{
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-size: 150%;

}






}

/*cuando el tamaño de la pantalla sea menor a 430px*/


@media (min-width: 700px) {
  
}



 /*cuando el tamaño de la pantalla sea mayor a 700px*/   
@media (min-width: 700px){

    .menu{
    display:flex;
    flex-direction:row;
    background-color: rgba(0, 0, 0,0.1);
    width:100%;
    font-size: 1.2em;
}
        .logo{

            flex:6 1 auto;
            margin-left: 10px;

        }
            nav{
                flex: 2 1 auto;
            }
            button#reservado{
                font-size: 1em;
                margin-right: 10px;
                margin-top: 0px;
            }
            nav a{
                margin: 0;
                padding: 0;
            }

            nav a:hover{
                border-bottom: 3px solid #eac445;;
              
            }
            

.portada  {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top: 200px;
}
        .portada h1{
            font-size:8em;
        }
  
        

.articulo{
    display:flex;
    flex-direction:column;
    width:85%;
}
        .articulo img{
            width:100px;
            height:100px;
        }



        .articulo p{
            font-size:1em;
            text-align:center;
            text-shadow: none;
        }
        .articulo h3{
            font-size: 1.3em;
        }

        .contenedor h3#burgers{
            border-bottom: 2px solid rgb(255, 255, 255);
            text-decoration: none;
        }
        footer h3{
            font-weight: 400;
            font-size: 1.9em;
        }
        footer{
            height:22vh;
            align-items: flex-start;
            padding-top: 20px;
       
        }
        .centro-footer{
            margin:0;
        }
        .centro-footer img{
            height:75px;
            width:75px;
           
        }
        .izquierda-footer{
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            border-right: 2px solid rgb(255, 255, 255);
            margin-left: 20px;
            padding-right:10px;
            height:75%;

        }
        .derecha-footer{
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            border-left: 2px solid rgb(255, 255, 255);
            margin-right: 20px;
            padding-left:10px;
            height:75%;
            text-align:right;
         
        }
        
        .derecha-footer h4{
            font-weight: 400;
            font-size:1.3em;
            
        }


        .centro-footer{
            flex: 2 1 auto;
        }
        .copyright{
            font-size:1.2em;
        }
    }

 